*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-us-black-title{
    margin: 20px;
    padding: 100px 300px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: left;
}

.about-us-grey-desc{
    padding: 15px 0px;
    color: rgb(49, 49, 49);
    font-size: 14px;
    display: inline;
}

.green-line{
    background-color: #294216;
    height: 8px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 5%;
}

.logo{
    margin-right: auto;
    height: 40px;
    width:auto;
    font-weight: 1000;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.logo:hover{
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a{
    text-decoration: none;
    color: #42603D;
}

.nav-links a:hover{
    color: rgb(39, 181, 181);
    cursor: pointer;
}

.banner-name{
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 70px;
}

.banner-coffee{
    background-image: url("/images/Roasted_coffee_beans.jpg");
    background-size: cover;
    height: 180px;
}

.banner-about-us{
    background-image: url("/images/coffee-image-1.png");
    background-size: cover;
    height: 180px;
}

.banner-home{
    background-image: url("/images/#");
    background-size: cover;
    height: 180px;
}

.banner-register{
    background-image: url("/images/#");
    background-size: cover;
    height: 180px;
}