*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.green-line{
    background-color: #294216;
    height: 8px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 5%;
}

.logo{
    margin-right: auto;
    height: 40px;
    width:auto;
    font-weight: 1000;
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.logo:hover{
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links a{
    text-decoration: none;
    color: #42603D;
}

.nav-links a:hover{
    color: rgb(39, 181, 181);
    cursor: pointer;
}

.banner-name{
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 70px;
}

.banner-coffee{
    background-image: url("/images/Roasted_coffee_beans.jpg");
    background-size: cover;
    height: 180px;
}

.banner-about-us{
    background-image: url("/images/coffee-image-1.png");
    background-size: cover;
    height: 180px;
}

.banner-home{
    background-image: url("/images/coffee-ad.png");
    background-size: cover;
    background-position: center;
    height: 680px;
}

.banner-register{
    background-image: url("/images/register_image.jpg");
    background-size: cover;
    height: 180px;
}

.banner-events{
    background-image: url("/images/event-banner.jpg");
    background-size: cover;
    height: 180px;
}

.title-top{
    text-align: center;
    align-self: center;
    margin: 1em;
    margin-top: 2em;
    font-size: 40px;
}
.product-list{
    padding: 3em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
}

.product-list .card{
    padding:1em;
    text-align: justify;
    box-shadow: inset;
    height: 386px;
    width: 250px;
    margin: 3em;
    
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    max-width: 200px;
}

.top-text{
    display: inline-flex;
    vertical-align: bottom;
    line-height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title{
    margin-right: 5px;
}
.price{
    font-size: 16px;
    vertical-align: bottom;
    font-weight: 10;
    align-self: baseline;
}
.image{
    padding: none;
    height: 287px;
    width: 218px;
    margin-bottom: 5px;
}

/* events */

.event_type_1{
    flex: auto;
    height: 400px;
    width: auto;
    max-width: 1400px;
    display: flex;
    margin:auto;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: right;
    background-image: url("/images/event-1.jpg");
    background-size: cover;
}

.ec{
    padding-top: 200px;
    padding-left: 40px;
    color: white;
    text-align: right;
}

.event_title{
    color: white;
    font-size: 48px;
}
.etext{
    padding-top: 5px;
    color: white;
    width: 500px;
    font-weight: 50px;
}


/* form */
.rform{
    padding: 80px;
}

.shadow{
    filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.55));
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=submit] {
    width: 100%;
    background-color: #0e5362;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #1e719b;
  }

/* banners */
@media screen and (max-width:810px){
    .logo{
        font-size: large;
    }
    .nav-links li{
        display: block;
        margin: 2px 0;
        margin-right: 20px;
        font-size: 13px;
    }
    .banner-name{
        font-size: large;
        padding-top: 45px;
    }
    .banner-coffee{
        height: 100px;
    }
    
    .banner-about-us{
        height: 100px;
    }
    
    .banner-register{
        height: 100px;
    }
    .banner-events{
        height: 100px;
    }

    .title-top{
        font-size: larger;
        margin-bottom: 5px;
    }

    .product-list{
        padding: 1em;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1600px;
    }
    .product-list .card{
        padding:1em;
        text-align: justify;
        box-shadow: inset;
        height: 386px;
        width: 250px;
        margin: 3em;
        
    }
    .event_type_1{
        flex: auto;
        height: 220px;
        width: auto;
        max-width: 700px;
        display: flex;
        margin:auto;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 20px;
        border-radius: 20px;
        justify-content: right;
        background-image: url("/images/event-1.jpg");
        background-size: cover;
    }
    
    .ec{
        padding-top: 80px;
        padding-left: 40px;
        color: white;
        text-align: right;
    }
    
    .event_title{
        color: white;
        font-size: 36px;
    }
    .etext{
        padding-top: 5px;
        color: white;
        width: 300px;
        font-weight: 50px;
        font-size: 12px;
    }

    .rform{
        padding: 80px   ;
        font-size: 12px;
    }
    
    input[type=text], select {
        width: 100%;
        height: 30px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      input[type=password], select {
        height: 30px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      button[type=submit] {
        height: 30px;
        width: 100%;
        background-color: #0e5362;
        color: white;
        padding: 8px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
}